<template>
  <div class="flex items-center justify-center h-screen">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Poin</th>
        </tr>
      </thead>
      <div v-for="data in this.leaderboard" :key="data">
        <tbody>
          <tr>
            <td>{{ data.name }}</td>
            <td>Semarang</td>
            <td>{{ data.poin }}</td>
          </tr>
        </tbody>
      </div>
    </table>
  </div>
  <div v-for="data in this.leaderboard" :key="data">
    <p>data</p>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Table",
  data() {
    return {
      leaderboard: [],
    };
  },
  created() {
    axios
      .get("/leaderboard")
      .then(response => {
        this.leaderboard = response.data;
      })
      .catch(e => {
        console.log(e);
      });
  },
};
</script>
