<template>
  <div class="container">
    <div v-if="isloaded">
      <AppLoader />
    </div>
    <div v-if="!isloaded">
      <router-view />
    </div>
  </div>
</template>

<script>
import AppLoader from "./components/AppLoader.vue";

export default {
  name: "App",
  components: {
    AppLoader,
  },
  data: () => {
    return {
      isloaded: true,
    };
  },
  mounted() {
    setTimeout(() => {
      this.isloaded = false;
    }, 1000);
  },
};
</script>
